.slick-dots button:before {
  color: rgb(167, 172, 178) !important;
}
.slick-dots li.slick-active button:before {
  color: #00aef0 !important;
}
.show-dots {
  top: -35px;
  right: 10px;
  bottom: 152.79px;
  text-align: right;
}

.slick-show {
  bottom: 2000px;
}

.slick-prev {
  z-index: 1000;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 50px;
  margin-top: -10px;
}
